<!--# -*- coding: utf-8 -*-
"""
Created on Sat Feb 13 22:07:05 2021

@author: Jack
"""
-->
<!-- hello_world.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Python Django Template Test!!</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>Hello World!!  Django Test</h1>
        <em>{{ current_time }}</em>
    </body>
</html>