<!--# -*- coding: utf-8 -*-
"""
Created on Sat Feb 13 22:07:05 2021

@author: Jack
"""-->
<html>
    <head>
        <title>Django blog  Test</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog  Test</a></h1>
        </div>

    {% for post in posts %}
       <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaks }}</p>
       </div>
    {% endfor %}
    </body>
</html>